@charset "utf-8";
* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  touch-action: none;
}
.animate-wrapper {
  width: 0.8rem;
  height: 0.8rem;
  position: fixed;
  top: 0.3rem;
  right: 0.3rem;
  z-index: 10;
  background: url(../img/audio.gif) no-repeat;
}
.animate-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
}
.loadIng {
  width: 100%;
  height: 100vh;
  background-color: #ff7c61;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadIng img {
  width: 100%;
  height: 45%;
  object-fit: cover;
}
#fullpage .fp-tableCell {
  vertical-align: auto !important;
}
#fullpage .section {
  width: 100vw;
  height: 100vh !important;
  background-color: #ffc3b5;
  position: relative;
}
#fullpage .section .title {
  width: 3.64rem;
  height: 0.42rem;
  object-fit: cover;
  margin-top: 1.8rem;
  opacity: 0;
  margin-left: 0.74rem;
}
#fullpage .section .content {
  width: 100%;
  font-size: 0.3rem;
  padding-left: 0.74rem;
  line-height: 0.55rem;
  padding-top: 0.2rem;
  opacity: 0;
  color: #573a36;
}
#fullpage .section .content span {
  color: #f1634c;
}
#fullpage .section .page2_top {
  font-size: 0.3rem;
  color: #573a36;
  width: 2.85rem;
  position: absolute;
  top: 3.5rem;
  left: 2.3rem;
  line-height: 0.55rem;
  z-index: 9;
  opacity: 0;
}
#fullpage .section .page2_bottom {
  font-size: 0.3rem;
  opacity: 0;
  color: #573a36;
  width: 2.85rem;
  position: absolute;
  top: 6.2rem;
  left: 2.3rem;
  line-height: 0.55rem;
  z-index: 9;
}
#fullpage .section .page2_bottom::before {
  content: "";
  display: block;
  width: 0.06rem;
  height: 0.38rem;
  background-color: #f1634c;
  position: absolute;
  left: -0.3rem;
  top: 0.1rem;
  border-radius: 0.03rem;
}
#fullpage .section .page3_content {
  font-size: 0.32rem;
  color: #5e403b;
  text-align: center;
  width: 5.65rem;
  position: absolute;
  top: 3.16rem;
  left: 0.95rem;
  line-height: 0.65rem;
  z-index: 9;
}
#fullpage .section .page4_content {
  font-size: 0.32rem;
  color: #5e403b;
  text-align: center;
  width: 5.65rem;
  position: absolute;
  top: 3.46rem;
  left: 0.95rem;
  line-height: 0.65rem;
  z-index: 9;
  padding: 0 0.4rem;
  text-align: left;
  text-indent: 2em;
}
#fullpage .section .page5_content {
  font-size: 0.32rem;
  color: #5e403b;
  text-align: center;
  width: 5.65rem;
  position: absolute;
  top: 4.16rem;
  left: 0.95rem;
  line-height: 0.65rem;
  opacity: 0;
  z-index: 9;
  padding: 0 0.4rem;
}
#fullpage .section .qixiFun {
  width: 4.8rem;
  height: 0.64rem;
  line-height: 0.64rem;
  border-radius: 0.1rem;
  background-color: #f1634c;
  color: #fff;
  text-align: center;
  font-size: 0.32rem;
  position: absolute;
  top: 3.32rem;
  left: 1.35rem;
  z-index: 9;
}
#fullpage .section .stripe1,
#fullpage .section .stripe2 {
  width: 100vw;
  display: block;
  object-fit: cover;
  position: absolute;
}
#fullpage .section .stripe1 {
  top: 0;
  left: 0;
}
#fullpage .section .stripe2 {
  bottom: 0;
  z-index: 2;
}
#fullpage .section .leaf {
  width: 2rem;
  height: 1.15rem;
  position: absolute;
  top: 0;
  left: 0;
}
#fullpage .section .girl {
  position: absolute;
  object-fit: cover;
}
#fullpage .section .girl1 {
  width: 2.7rem;
  height: 3.25rem;
  opacity: 0;
  bottom: 0;
  left: 0;
}
#fullpage .section .girl2 {
  width: 5.24rem;
  height: 4.23rem;
  bottom: 0;
  left: 0.52rem;
  z-index: 3;
  opacity: 0;
}
#fullpage .section .girl3 {
  width: 3.11rem;
  height: 3.28rem;
  bottom: 0.6rem;
  opacity: 0;
  left: 0rem;
  z-index: 3;
}
#fullpage .section .girl4 {
  width: 3.89rem;
  height: 3.61rem;
  bottom: 0rem;
  left: 1.54rem;
  opacity: 0;
  z-index: 3;
}
#fullpage .section .girl5 {
  width: 2.74rem;
  height: 3.68rem;
  left: 0.2rem;
  bottom: 0.2rem;
  z-index: 2;
}
#fullpage .section .lotus {
  width: 1.36rem;
  height: 0.8rem;
  display: block;
  object-fit: cover;
  position: absolute;
  right: 0.6rem;
  bottom: 0;
}
#fullpage .section .camera {
  width: 1.13rem;
  height: 0.64rem;
  margin-top: 2rem;
  margin-left: 5.5rem;
}
#fullpage .section .love-star1 {
  position: absolute;
  z-index: 4;
  width: 0.71rem;
  height: 0.62rem;
  display: block;
  top: 4rem;
  right: 0.56rem;
}
#fullpage .section .love-star2 {
  position: absolute;
  z-index: 4;
  width: 0.71rem;
  height: 0.62rem;
  display: block;
  top: 9.4rem;
  left: 0.6rem;
}
#fullpage .section .star {
  width: 2.38rem;
  height: 1.58rem;
  position: absolute;
  right: 0.23rem;
  top: 2.02rem;
  z-index: 4;
}
#fullpage .section .flower {
  width: 1.25rem;
  height: 1.29rem;
  position: absolute;
  top: 1.71rem;
  right: 0.5rem;
  z-index: 4;
}
#fullpage .section .glass {
  width: 5.65rem;
  height: 7.4rem;
  margin-top: 2.6rem;
  margin-left: 0.76rem;
  position: relative;
  z-index: 3;
}
#fullpage .section .letter,
#fullpage .section .calendar {
  width: 5.65rem;
  height: 7.4rem;
  position: relative;
  margin-top: 2.4rem;
  margin-left: 0.95rem;
  z-index: 3;
}
#fullpage .section .cloud {
  position: absolute;
}
#fullpage .section .cloud1 {
  width: 1.56rem;
  height: 0.8rem;
  top: 2rem;
  left: 0.6rem;
  z-index: 9;
  opacity: 0;
}
#fullpage .section .cloud2 {
  top: 2.1rem;
  left: 3.8rem;
  width: 1.07rem;
  height: 0.55rem;
  z-index: 9;
  opacity: 0;
}
#fullpage .section .cloud3 {
  top: 1.87rem;
  left: 1.8rem;
  width: 1.28rem;
  height: 0.66rem;
  z-index: 9;
  opacity: 0;
}
#fullpage .section .paper {
  position: absolute;
  z-index: 2;
  margin-top: 2.4rem;
  margin-left: 0.95rem;
  width: 5.64rem;
  height: 7.11rem;
  opacity: 0;
}
#fullpage .section .output-wrap2 {
  opacity: 0;
}
#fullpage .section .envelope {
  width: 6.25rem;
  height: 1.47rem;
  position: absolute;
  top: 8.51rem;
  left: 50%;
  margin-left: -3.125rem;
  opacity: 0;
  background-color: #cd604e;
}
#fullpage .section .envelope-img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 8;
}
#fullpage .section .star2 {
  width: 1.2rem;
  height: 1.06rem;
  position: absolute;
  left: 42%;
  top: 8.6rem;
  z-index: 8;
  opacity: 0;
  transform: translateX(-50%);
}
#fullpage .section .sun {
  position: absolute;
  width: 1.89rem;
  height: 1.86rem;
  right: 0.05rem;
  top: 1.4rem;
  z-index: 8;
}
#fullpage .section .btn {
  width: 3.38rem;
  line-height: 0.84rem;
  text-align: center;
  color: #f1634c;
  border-radius: 0.42rem;
  font-size: 0.32rem;
  position: absolute;
  left: 29%;
  opacity: 0;
  top: 8.3rem;
  transform: translateX(-50%);
  z-index: 8;
  border: solid #f1634c 1px;
  box-shadow: 0px 5px 7px rgba(249, 123, 102, 0.15);
  cursor: pointer;
}
#fullpage .section .typing-cursor {
  display: none;
}
.gift {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.gift .money {
  width: 5.68rem;
  height: 7.52rem;
  position: relative;
  z-index: 100;
  cursor: pointer;
  /* 3D变形 */
  transform-style: preserve-3d;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.gift .money img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  transition: 0.8s;
}
.gift .money .btn2 {
  width: 3rem;
  line-height: 0.66rem;
  text-align: center;
  font-size: 0.32rem;
  color: #f9055f;
  position: absolute;
  z-index: 100;
  bottom: 0.5rem;
  left: 25%;
}
.gift .close {
  width: 0.82rem;
  height: 0.82rem;
  margin-top: 0.35rem;
}
